 .u-section-1 {
   background-image: none;
 }

 .u-section-1 .u-sheet-1 {
   min-height: 715px;
   margin-bottom: 0;
 }

 .u-section-1 .u-gallery-1 {
   height: 1000px;
   margin-top: 204px;
   margin-bottom: 60px;
 }

 .u-section-1 .u-gallery-inner-1 {
   grid-gap: 10px 10px;
   grid-template-columns: auto auto auto;
 }

 .u-section-1 .u-over-slide-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-1 .u-over-slide-2 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-1 .u-over-slide-3 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-1 .u-over-slide-4 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-1 .u-over-slide-5 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-1 .u-over-slide-6 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 @media (max-width: 1199px) {
   .u-section-1 .u-sheet-1 {
     min-height: 649px;
   }

   .u-section-1 .u-gallery-1 {
     height: 850px;
   }

   .u-section-1 .u-gallery-inner-1 {
     grid-template-columns: repeat(3, auto);
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-sheet-1 {
     min-height: 697px;
   }

   .u-section-1 .u-gallery-1 {
     height: 1400px;
     margin-top: 124px;
     margin-bottom: 40px;
   }

   .u-section-1 .u-gallery-inner-1 {
     grid-template-columns: repeat(2, auto);
   }
 }

 @media (max-width: 767px) {
   .u-section-1 .u-sheet-1 {
     min-height: 1536px;
   }

   .u-section-1 .u-gallery-1 {
     height: 4000px;
     width: 593px;
     margin-left: -26px;
     margin-right: -26px;
     margin-bottom: 8px;
   }

   .u-section-1 .u-gallery-inner-1 {
     grid-gap: 12px 12px;
     grid-template-columns: auto;
   }

   .xfooter {
     position: relative;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
     min-height: 1101px;
   }

   .u-section-1 .u-gallery-1 {
     height: 2000px;
     max-width: 100%;
     margin-left: auto;
     margin-right: auto;

   }

   .u-section-1 .u-gallery-inner-1 {
     grid-gap: 0px 0px;
   }
 }